* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
/* https: //www.w3schools.com/cssref/pr_background-attachment.php */
body {
    background-image: url('../images/fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1024px;
}
header{
    display:flex;
    flex-direction:column;
}
hgroup {
    text-align:center;
}
/* https: //css.glass/ */
.page {
    display:flex;
    flex-direction:column;
    background: rgba(255, 255, 255, 0.6);
    margin: 20px 0;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);  /* firefox */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

main {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:5rem;
}
footer {
    display:flex;
    flex-direction:column;
}
.lugares {
    color: #373;
    font-weight: 600;
    font-size: 1rem;
}


.navbar ul {
    display: flex;
    justify-content:space-around;
    background-color: #ddd;
}
.navbar > ul > li {
    flex-grow:4;
    text-align:center;
    padding:10px;
}

.navbar > ul > li:hover {
    background-color:white;
    transition: 1s;
}
.navbar > ul > li > a {
    text-decoration:none;
    font-size: 1.2rem;

}
.navbar > ul > li > a:hover {
    text-decoration:underline;
}
.cabecera {
    margin: 4rem 0;
}
.cabecera > h1 {
    font-size: 5rem;
    line-height: 4rem;
    color: forestgreen;
    font-family: "Indie Flower", cursive;
    letter-spacing: 0.4rem;
}
.leyenda {
    font-size: 2rem;
    text-align: justify;
    margin: 0 40px 40px 40px;
    font-weight: 400;
}
.carrusel {
    background-size: cover;
    width:100%;
    height:480px;
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    background-image: url('../images/caba1.jpg');
    animation: animacion 15s alternate infinite;
}
@keyframes animacion {
   0% { background-image: url('../images/caba1.jpg');}
   33% { background-image: url('../images/caba2.jpg');}
   66% { background-image: url('../images/caba3.jpg');}
   100% { background-image: url('../images/caba4.jpg');}
}
.social {
    margin-top: 1rem;
}
.social > ul {
    display:flex;
    justify-content:center;
}
.social > ul > li {
    display: inline-block;
    margin: 0.5rem;
}
.social > ul > li > a {
    color:black;
}
.social > ul > li > a:hover {
    color:blue;
}
.copyright {
    text-align:center;
}
.copyright p {
    margin: 1rem;
}

.seccion {
    display:flex;
}
.seccion > .container > h2 {
    font-size:4rem;
    font-weight:400;
    font-family:"Indie Flower", cursive;
}
.seccion > img {
    width:50%;
    object-fit:cover;
}
.seccion > .container {
    display:flex;
    flex-direction:column;
    background: black;

    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

.cta {
    text-align:center;
}

.cta > a {
  background-color: #bb6600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 2rem;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

.cta >a:hover {
  background-color: #a25300;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.44), 0 17px 50px 0 rgba(0,0,0,0.39);
}
